<!DOCTYPE html>
<html>

<head>
  <title>Demo</title>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600" as="style" onload='this.rel="stylesheet"'>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    html,
    body {
      margin: 0;
      height: 100%;
      width: 100%;
    }
  </style>
</head>

<body>
  <main>
    <div id="test" class="cg-container" style="max-width:1000px;">
      <div class="cg-carousel" style="height:500px;">
        <ul>
          <!-- <li class="cg-item">
            <div class="cg-text">
              Dette er en test
            </div>
            <img src="../images/xs/takeoff_1.jpg" srcset="../images/xs/takeoff_1.jpg 240w,
                ../images/xl/takeoff_1.jpg 3000w" />
          </li>
          <li class="cg-item">
            <div class="video-responsive">
                <iframe src="https://www.youtube.com/embed/Dnom7z0tfH4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </object>
          </li> -->
          <li class="cg-item" data-cg-title="PL 0720T" data-cg-description="Varehenger">
            <img src="../images/xs/takeoff_2.jpg" data-cg-srcset="../images/xs/takeoff_2.jpg 213w,
            ../images/s/takeoff_2.jpg 427w,
              ../images/m/takeoff_2.jpg 683w,
              ../images/l/takeoff_2.jpg 1365,
                  ../images/xl/takeoff_2.jpg 2000w" />
          </li>
          <li class="cg-item" data-cg-title="PL 0820T">
            <img src="../images/s/takeoff_1.jpg" />
          </li>

          <li class="cg-item" data-cg-title="PL 1020T">
            <img src="../images/xs/takeoff_1.jpg" srcset="../images/xs/takeoff_1.jpg 240w,
                ../images/xl/takeoff_1.jpg 3000w" />
          </li>
          <!-- <li class="cg-item">
            <img src="../images/xs/takeoff_2.jpg" srcset="../images/xs/takeoff_2.jpg 213w, 
                  ../images/xl/takeoff_2.jpg 2000w" />
          </li>
          <li class="cg-item">
            <img src="../images/s/takeoff_1.jpg" />
          </li>

          <li class="cg-item">
            <img src="../images/xs/takeoff_1.jpg" srcset="../images/xs/takeoff_1.jpg 240w,
                ../images/xl/takeoff_1.jpg 3000w" />
          </li>
          <li class="cg-item">
            <img src="../images/xs/takeoff_2.jpg" srcset="../images/xs/takeoff_2.jpg 213w, 
                  ../images/xl/takeoff_2.jpg 2000w" />
          </li>
          <li class="cg-item">
            <img src="../images/s/takeoff_1.jpg" />
          </li>

          <li class="cg-item">
            <img src="../images/xs/takeoff_1.jpg" srcset="../images/xs/takeoff_1.jpg 240w,
                ../images/xl/takeoff_1.jpg 3000w" />
          </li>
          <li class="cg-item">
            <img src="../images/xs/takeoff_2.jpg" srcset="../images/xs/takeoff_2.jpg 213w, 
                  ../images/xl/takeoff_2.jpg 2000w" />
          </li>
          <li class="cg-item">
            <img src="../images/s/takeoff_1.jpg" />
          </li> -->
        </ul>
      </div>
    </div>

    <hr>

    <!-- <div class="cg-container" style="max-width:1000px;">
      <div class="cg-carousel" style="height:500px;">
        <ul>
          <li class="cg-item active" data-cg-title="FirstTitle">
            <img src="../images/xl/takeoff_1.jpg" data-cg-img-xl-src="../images/xl/takeoff_1.jpg" />
          </li>
          <li class="cg-item">
            <img src="../images/xl/takeoff_2.jpg" data-cg-img-xl-src="../images/xl/takeoff_2.jpg" />
          </li>
          <li class="cg-item" data-cg-title="SecondTitle">
            <img src="../images/xl/takeoff_1.jpg" data-cg-img-xl-src="../images/xl/takeoff_1.jpg" />
          </li>
          <li class="cg-item">
            <img src="../images/xl/takeoff_2.jpg" data-cg-img-xl-src="../images/xl/takeoff_2.jpg" />
          </li>
          <li class="cg-item">
            <img src="../images/xl/takeoff_1.jpg" data-cg-img-xl-src="../images/xl/takeoff_1.jpg" />
          </li>
          <li class="cg-item">
            <img src="../images/xl/takeoff_2.jpg" data-cg-img-xl-src="../images/xl/takeoff_2.jpg" />
          </li>
          <li class="cg-item">
            <img src="../images/xl/takeoff_1.jpg" data-cg-img-xl-src="../images/xl/takeoff_1.jpg" />
          </li>
          <li class="cg-item">
            <img src="../images/xl/takeoff_2.jpg" data-cg-img-xl-src="../images/xl/takeoff_2.jpg" />
          </li>
          <li class="cg-item">
            <img src="../images/xl/takeoff_1.jpg" data-cg-img-xl-src="../images/xl/takeoff_1.jpg" />
          </li>
          <li class="cg-item">
            <img src="../images/xl/takeoff_2.jpg" data-cg-img-xl-src="../images/xl/takeoff_2.jpg" />
          </li>
        </ul>
      </div>
    </div> -->

  </main>
  <img class="cg-external-include" src="../images/xs/takeoff_1.jpg" data-cg-img-xl-src="../images/xl/takeoff_1.jpg"
    data-cg-gallery-id="test" />
  <img class="cg-external-include" src="../images/xs/takeoff_2.jpg" data-cg-img-xl-src="../images/xl/takeoff_1.jpg"
    data-cg-gallery-id="test" />

  <img class="cg-external-include" src="../images/xs/takeoff_1.jpg" data-cg-img-xl-src="../images/xl/takeoff_1.jpg"
    data-cg-gallery-id="test2" />
</body>

</html>